.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 80%;
}

@media screen and (max-width: 1366px) {
    .container {
        width: 100%;
    }
}