.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding: 50px 10px;
}

.userMessage {
    padding: 10px;
    background-color: rgb(var(--background-additional-rgb));
    border-radius: 20px;
    align-self: flex-end;
}

.botMessage {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.botIcon {
    font-size: 20px;
}