.container {
    height: 60px;
    display: flex;
    align-items: center;
    
}

.link {
    text-align: center;
    width: 160px;
    font-size: 20px;
    font-weight: var(--font-medium);
}

@media screen and (max-width: 1000px) {
    .link {
        width: 100px;
    }
}

@media screen and (max-width: 511px) {
    .link {
        width: 80px;
    }
}