.container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    min-height: 60px;
}

.headerContainerPC {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    padding: 0 10px;
}

.headerContainerM {
    display: none;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    font-size: 20px;
}

.link {
    font-size: inherit;
    font-weight: var(--font-medium);
}

@media screen and (max-width: 600px) {
    .navContainer {
        width: 300px;
    }
}

@media screen and (max-width: 430px) {
    .headerContainerPC {
        display: none;
    }
    
    .headerContainerM {
        display: flex;
        width: 100%;
    }
    
    .startHeader {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-end;
        padding: 0 10px;
        position: relative;
    }
    
    .dropdownToggle {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        font-size: 40px;
        color: rgb(var(--font-color-rgb));
        z-index: 4;
    }
    
    .dropdownMenu {
        position: absolute;
        background-color: rgb(var(--background-additional-rgb));
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        padding: 60px 10px 10px 10px;
        font-size: 30px;
        top: 0;
        left: 0;
        z-index: 3;
    }
}