.cardsContainer {
    padding: 20px 210px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    max-width: 1400px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

.cardsContainer::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1366px) {
    .cardsContainer {
        padding: 20px 200px;
    }
}

@media screen and (max-width: 1000px) {
    .cardsContainer {
        padding: 20px 80px;
    }
}
@media screen and (max-width: 450px) {
    .cardsContainer {
        padding: 20px 50px;
    }
}

@media screen and (max-width: 430px) {
    .cardsContainer {
        padding: 20px 30px;
        gap: 30px;
        mask-image: none;
    }
}

@media screen and (max-width: 320px) {
    .cardsContainer {
        padding: 20px 10px;
    }
}

