.container {
    display: flex;
    position: relative;
    max-width: 1300px;
    width: 100%;
}

.cardsContainer {
    padding: 20px 210px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

.cardsContainer::-webkit-scrollbar {
    display: none;
}

.leftArrow {
    position: absolute;
    top: 45%;
    left: 5%;
    z-index: 1;
    font-size: 40px;
    cursor: pointer;
}

.rightArrow {
    position: absolute;
    top: 45%;
    left: 95%;
    z-index: 1;
    font-size: 40px;
    cursor: pointer;
}

@media screen and (max-width: 1366px) {
    .cardsContainer {
        padding: 20px 200px;
    }
}

@media screen and (max-width: 1000px) {
    .cardsContainer {
        padding: 20px 80px;
    }
    
    .rightArrow {
        left: 90%;
    }
}

@media screen and (max-width: 450px) {
    .cardsContainer {
        padding: 20px 50px;
    }
    
    .rightArrow {
        left: 85%;
    }
}

@media screen and (max-width: 430px) {
    .cardsContainer {
        padding: 20px 30px;
        gap: 30px;
        mask-image: none;
    }
}

@media screen and (max-width: 320px) {
    .cardsContainer {
        padding: 20px 10px;
    }
}

